.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: black;
}

.icon {
    color: white;
    font-size: 1.5rem;
}

.icon:hover {
    cursor: pointer;
}

.title {
    margin-left: 37.3%;
    margin-top: 6%;
    color: white;
}


.inputContainer {
    margin-top: 0;
    display: flex;
    justify-content: center;
    height: 5%;
    width: 100%;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.input {
    width: 26%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid orange;
}

p {
    color: white;
    margin-left: 3%;
}

.todoContainer {
    margin-top: 1%;
    height:fit-content;
    gap: .5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    display: flex;
    align-items: center;
    border: 2px solid orange;
    border-radius: 5px;
    width: 26vw;
    height: 2vw;
    position: relative;
}

.icons {
    display: flex;
    position: absolute;
    right: 0px;
    margin-right: 3%;
    gap: 20%;
}
